@import "base.css";

.Container {
  margin: 0 auto;
  padding: 0 3.125vw; /* = 10px viewport-width: 320px */
  max-width: 90rem;
  height: 100%;
}

.Header {
  margin-bottom: 3rem;
  padding: 1.5rem 0;
  background-color: #383838;
  box-shadow: 0px 2px 8px currentColor;
}

.Header a {
  color: #fff;
}

.Header__Logo {
  margin: 0;
  height: 4.8rem;
  vertical-align: -0.25em;
}

.Article {
  background-color: #fff;
  border: solid 1px #ededed;
}

.Article > * {
  margin: 1em 3.125vw;
}

.Outline ol {
  list-style: none;
  padding-left: 1.7em;
  line-height: 1.7;
}

.Outline ol {
  padding-left: 0;
}

.Outline > ol > li {
  font-size: 2.2rem;
  font-weight: bold;
}

.Outline > ol > li > a {
  display: inline-block;
  text-indent: 0.5em;
}

.Outline > ol > li + li {
  margin-top: 0.5em;
}

.Outline > ol ol {
  font-size: 1.8rem;
  font-weight: normal;
}

.Outline > ol ol ol {
  padding-left: 1.7em;
}

.Footer {
  background-color: #383838;
}
