@import "base.css";

.Container {
  margin: 0 auto;
  padding: 0 3.125vw; /* = 10px viewport-width: 320px */
  max-width: 90rem;
  height: 100%;
}

.Header {
  margin-bottom: 3rem;
  padding: 1.5rem 0;
  background-color: #383838;
  box-shadow: 0px 2px 8px currentColor;
}

.Header a {
  color: #fff;
}

.Header__Logo {
  margin: 0;
  height: 4.8rem;
  vertical-align: -0.25em;
}

.Article {
  background-color: #fff;
  border: solid 1px #ededed;
}

.Article > * {
  margin: 1em 4vw;
}

.Footer {
  background-color: #383838;
}
