html {
  overflow-wrap: break-word;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  color: #555;
  background-color: #f9f9f9;
  font-size: 2rem;
}

@media (max-width: 414px) {
  body {
    font-size: 1.6rem;
  }
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.4rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #00598e;
}

a:visited {
  color: #673ab7;
}

code {
  font-family: 'Roboto Mono', monospace;
}

pre,
code {
  font-size: 1.6rem;
}
