<aside class="Aside">
<div class="Container">
  <ul class="Aside__SocialButtons SocialButtons">
    <li class="SocialButtons__Item -GitHubStar"><iframe src="https://ghbtns.com/github-btn.html?user=openfresh&repo=a11y-guidelines&type=star&count=true&size=large" frameborder="0" scrolling="0" width="75" height="30" title="GitHub Star"></iframe></li>
    <li class="SocialButtons__Item -HatenaBookmark"><a href="http://b.hatena.ne.jp/entry/{{ .Permalink }}"><img src="https://cdn-ak.b.st-hatena.com/images/entry-button/standard-en.svg" alt="Add HatenaBookmark this website." width="78" height="14" /></a></li>
  </ul>
</div>
</aside>
