<ol class="Outline -player">
<li>1 <a href="/a11y-guidelines/player/#1-知覚できる">知覚できる</a>
  <ol>
    <li>1.1 <a href="/a11y-guidelines/player/#1-1-代替テキスト">代替テキスト</a>
      <ol>
        <li>1.1.1 <a href="/a11y-guidelines/player/#1-1-1-画像に代替テキストを提供する">画像に代替テキストを提供する</a></li>
      </ol>
    </li>
    <li>1.2 <a href="/a11y-guidelines/player/#1-2-動画-音声に代替コンテンツを提供する">動画、音声に代替コンテンツを提供する</a>
      <ol>
        <li>1.2.1 <a href="/a11y-guidelines/player/#1-2-1-収録済の音声及び動画に代替コンテンツを提供する">収録済の音声及び動画に代替コンテンツを提供する</a></li>
      </ol>
    </li>
    <li>1.3 <a href="/a11y-guidelines/player/#1-3-様々な閲覧環境に適応できるようにする">様々な閲覧環境に適応できるようにする</a>
      <ol>
        <li>1.3.1 <a href="/a11y-guidelines/player/#1-3-1-情報及び関係性">情報及び関係性</a></li>
        <li>1.3.2 <a href="/a11y-guidelines/player/#1-3-2-意味のある順序">意味のある順序</a></li>
        <li>1.3.3 <a href="/a11y-guidelines/player/#1-3-3-感覚的な特徴に依存しない">感覚的な特徴に依存しない</a></li>
      </ol>
    </li>
    <li>1.4 <a href="/a11y-guidelines/player/#1-4-判別できる">判別できる</a>
      <ol>
        <li>1.4.1 <a href="/a11y-guidelines/player/#1-4-1-色だけで伝えない">色だけで伝えない</a></li>
        <li>1.4.2 <a href="/a11y-guidelines/player/#1-4-2-音声を制御する">音声を制御する</a></li>
        <li>1.4.3 <a href="/a11y-guidelines/player/#1-4-3-コントラストを確保する">コントラストを確保する</a></li>
      </ol>
    </li>
  </ol>
</li>
<li>2 <a href="/a11y-guidelines/player/#2-操作できる">操作できる</a>
  <ol>
    <li>2.1 <a href="/a11y-guidelines/player/#2-1-さまざまなデバイスでの操作">さまざまなデバイスでの操作</a>
      <ol>
        <li>2.1.1 <a href="/a11y-guidelines/player/#2-1-1-キーボード-タッチデバイスでの操作">キーボード、タッチデバイスでの操作</a></li>
        <li>2.1.2 <a href="/a11y-guidelines/player/#2-1-2-シンプルな操作で操作できるようにする">シンプルな操作で操作できるようにする</a></li>
        <li>2.1.3 <a href="/a11y-guidelines/player/#2-1-3-特定のデバイスの機能に依存しない">特定のデバイスの機能に依存しない</a></li>
        <li>2.1.4 <a href="/a11y-guidelines/player/#2-1-4-タッチターゲットサイズ">タッチターゲットサイズ</a></li>
      </ol>
    </li>
    <li>2.2 <a href="/a11y-guidelines/player/#2-2-十分な時間">十分な時間</a>
      <ol>
        <li>2.2.1 <a href="/a11y-guidelines/player/#2-2-1-コンテンツの制限時間">コンテンツの制限時間</a></li>
        <li>2.2.2 <a href="/a11y-guidelines/player/#2-2-2-自動再生するコンテンツを一時停止-停止-非表示できるようにする">自動再生するコンテンツを一時停止、停止、非表示できるようにする</a></li>
      </ol>
    </li>
    <li>2.3 <a href="/a11y-guidelines/player/#2-3-発作の防止">発作の防止</a>
      <ol>
        <li>2.3.1 <a href="/a11y-guidelines/player/#2-3-1-フラッシュさせない">フラッシュさせない</a></li>
      </ol>
    </li>
    <li>2.4 <a href="/a11y-guidelines/player/#2-4-ナビゲーション">ナビゲーション</a>
      <ol>
        <li>2.4.1 <a href="/a11y-guidelines/player/#2-4-1-繰り返す情報のスキップ">繰り返す情報のスキップ</a></li>
        <li>2.4.2 <a href="/a11y-guidelines/player/#2-4-2-ページタイトル">ページタイトル</a></li>
      </ol>
    </li>
  </ol>
</li>
<li>3 <a href="/a11y-guidelines/player/#3-理解できる">理解できる</a>
  <ol>
    <li>3.1 <a href="/a11y-guidelines/player/#3-1-読みやすさ">読みやすさ</a>
      <ol>
        <li>3.1.1 <a href="/a11y-guidelines/player/#3-1-1-ページの言語">ページの言語</a></li>
      </ol>
    </li>
    <li>3.2 <a href="/a11y-guidelines/player/#3-2-予測できる">予測できる</a>
      <ol>
        <li>3.2.1 <a href="/a11y-guidelines/player/#3-2-1-ユーザーの意図しない変更をしない">ユーザーの意図しない変更をしない</a></li>
      </ol>
    </li>
    <li>3.3 <a href="/a11y-guidelines/player/#3-3-入力を支援する">入力を支援する</a>
      <ol>
        <li>3.3.1 <a href="/a11y-guidelines/player/#3-3-1-エラーの特定">エラーの特定</a></li>
        <li>3.3.2 <a href="/a11y-guidelines/player/#3-3-2-入力欄のラベルまたは説明">入力欄のラベルまたは説明</a></li>
      </ol>
    </li>
  </ol>
</li>
<li>4 <a href="/a11y-guidelines/player/#4-堅牢性">堅牢性</a>
  <ol>
    <li>4.1 <a href="/a11y-guidelines/player/#4-1-互換性">互換性</a>
      <ol>
        <li>4.1.1 <a href="/a11y-guidelines/player/#4-1-1-構文解析">構文解析</a></li>
        <li>4.1.2 <a href="/a11y-guidelines/player/#4-1-2-名前-役割-及び値">名前・役割、及び値</a></li>
      </ol>
    </li>
  </ol>
</li>
</ol>
